# PDS ASSIGNMENT

Step 1 : collection of raw data

In [48]:
import pandas as pd 
raw_data = pd.read_csv("Downloads/pds-assignment-master/Q2/data_raw/raw_data.csv")
print(raw_data.head())

  Height  Weight  Age  Grip strength  Frailty
0   65.8     112   30             30        N
1   71.5     136   19             31        N
2   69.4     153   45             29        N
3   68.2     142   22             28        Y
4   67.8     144   29             24        Y

In [49]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          10 non-null     object
 1   Weight          10 non-null     object
 2   Age             10 non-null     object
 3   Grip strength   10 non-null     object
 4   Frailty         10 non-null     object
dtypes: object(5)
memory usage: 532.0+ bytes

In [50]:
raw_data = raw_data.dropna()

In [75]:
raw_data = raw_data.drop_duplicates()

In [76]:
raw_data.head()

  height weight age grip_strength  frailty
0   65.8    112  30            30        0
1   71.5    136  19            31        0
2   69.4    153  45            29        0
3   68.2    142  22            28        1
4   67.8    144  29            24        1

In [67]:
data_frame_obj = raw_data.select_dtypes(['object'])
#strip the trailing spaces
raw_data[data_frame_obj.columns] = data_frame_obj.apply(lambda x: x.str.strip())
raw_data.columns = raw_data.columns.str.strip()

In [68]:
print(raw_data.head())

  Height Weight Age Grip strength Frailty
0   65.8    112  30            30       N
1   71.5    136  19            31       N
2   69.4    153  45            29       N
3   68.2    142  22            28       Y
4   67.8    144  29            24       Y

In [69]:
raw_data.rename(columns = {'Height':'height', 
                       'Weight':'weight',
                       'Age':'age',
                        'Grip strength':'grip_strength',
                         'Frailty':'frailty'}, inplace = True)

In [70]:
raw_data.head()

  height weight age grip_strength frailty
0   65.8    112  30            30       N
1   71.5    136  19            31       N
2   69.4    153  45            29       N
3   68.2    142  22            28       Y
4   67.8    144  29            24       Y

In [71]:
raw_data.frailty=raw_data.frailty.map(dict(Y=1, N=0))

In [72]:
raw_data.head()

  height weight age grip_strength  frailty
0   65.8    112  30            30        0
1   71.5    136  19            31        0
2   69.4    153  45            29        0
3   68.2    142  22            28        1
4   67.8    144  29            24        1

In [77]:
#displaying contents to csv
raw_data.to_csv('Downloads/pds-assignment-master/Q1/data_clean/clean_frailty.csv')